*{
    padding: 0%;
    margin: 0%;
}

body{
    background-image: url("../img/bgini.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    
}